.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.quarto/xref/3504231e
.quarto/xref/c1dca3e0
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/sources/prop/2757FB03
.Rproj.user/52B9D855/sources/session-553b8ef0/B08F79DA
.Rproj.user/52B9D855/sources/session-553b8ef0/B08F79DA-contents
.quarto/xref/3504231e
.quarto/xref/c1dca3e0
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/sources/prop/2757FB03
.Rproj.user/52B9D855/sources/session-553b8ef0/B08F79DA
.Rproj.user/52B9D855/sources/session-553b8ef0/B08F79DA-contents
